<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asset Detail</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.datetimepicker.full.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css">
        <script type="text/javascript" src="/js/script.js"></script>

    </head>

    <body class="d-flex flex-column" th:attr="onload='sweetAlertInsert(\''+${status}+'\')'">
        <div class="flex-grow-1 flex-shrink-0">
            <div class="wrapper toggled">
                <!--Sidebar--> 
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Asset Management</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="/admin/home">Home</a>
                        </li>
                        <li>
                            <a href="/assetdetail">Asset</a>
                        </li>
                        <li>
                            <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Request</a>
                            <ul class="collapse list-unstyled" id="requestSubmenu">
                                <li>
                                    <a href="/yourrequest">Your Request</a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin Menu</a>
                            <ul class="collapse list-unstyled" id="adminSubmenu">
                                <li>
                                    <a href="assetHome">Add Asset</a>
                                </li>
                                <li>
                                    <a href="approvalStatusHome">Add Approval Status</a>
                                </li>
                                <li>
                                    <a href="categoryHome">Add Category</a>
                                </li>
                                <li>
                                    <a href="requestTypeHome">Add Request Type</a>
                                </li>
                                <li>
                                    <a href="roomHome">Add Room</a>
                                </li>
                                <li>
                                    <a href="statusAssetHome">Add Status Asset</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!--Page Content--> 
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                            </button>
                            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button>
                        </div>
                    </nav>

                    <div class="container">
                        <div class="" style="text-align: center">
                            <button onclick="myFunction('1', '', '', '')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAsset">Add Asset</button>
                        </div>
                        <br>
                        <div class="card">
                            <br>
                            <div class="" style="text-align: left">
                                <a th:href="@{/reportAssetDipinjam}" class="btn btn-success">Asset Dipinjam</a>
                            </div>
                            <br>
                            <div class="" style="text-align: left">
                                <a th:href="@{/reportAssetReady}" class="btn btn-success">Asset Ready</a>
                            </div>
                            <h5 class="card-header color" style="text-align: center">Asset Detail</h5>
                            <div class="card-body">
                                <table  id="assetmanagement" class="display" cellspacing="0" width="100%" >
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Date In</th>
                                            <th>Penalty Cost</th>
                                            <th>Asset</th>
                                            <th>Status</th>
                                            <th>Room</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="count : ${assetdetails}">
                                            <td></td>
                                            <td th:text="${count.id}"></td>
                                            <td th:text="${count.name}"></td>
                                            <td th:text="${count.dateIn}"></td>
                                            <td th:text="${count.penaltyCost}"></td>
                                            <td th:text="${count.asset.name}"></td>
                                            <td th:text="${count.status.name}"></td>
                                            <td th:text="${count.room?.name} ?: 'Not in Room'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--Modal Add Employee-->
                        <div class="modal fade" id="addAsset" tabindex="-1" role="dialog" aria-labelledby="addAsset" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Add Asset</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form autocomplete="off" action="#" th:action="@{/insertdetailasset}" th:object="${assetDetail}" method="POST" >
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputID">ID</label>
                                                    <input type="hidden" class="form-control" id="id" name="id">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputName">Name</label>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="inputDateIn">Date In</label>
                                                            <input class="form-control" id="dateIn" name="dateIn" placeholder="Date In" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputPenaltyCost">Penalty Cost</label>
                                                            <input type="text" class="form-control" id="penaltyCost" name="penaltyCost" placeholder="penaltyCost" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputAsset">Asset</label>
                                                            <select class="form-control"  name="asset"/>
                                                            <option value="">-Pilih-</option>
                                                            <option th:each="asst : ${assets}" th:value="${asst.id}" th:text="${asst.name}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input type="hidden" class="form-control" id="status" name="status" value="3">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input type="hidden" class="form-control" id="room" name="room" value="">
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button class="btn btn-primary" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Modal Add Employee-->

                    </div>
                </div>
            </div> 
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © 2004-2018. All rights reserved. </p>
                    <div class="pull-right">
                        <ul class="nav nav-pills payments">
                            <li>We Accept:  </li>
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>                   
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

    </body>

</html>
